PORT=4000

DB_MYSQL_USERNAME=root
DB_MYSQL_PASSWORD=123456
DB_MYSQL_DBNAME=jobservice
DB_MYSQL_HOST=localhost

# CLOUDINARY
CLOUDINARY_NAME=dqtcvuae8
CLOUDINARY_API_KEY=533983238721657
CLOUDINARY_API_SECRET=8W-6SvmU2TsEpz4aCZXswRH4sjw